div>.myBtn {
    position: absolute;
    width: 121px;
    height: 55px;
    left: 400px;
    top: 150px
}

.no-streamers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 24px;
    font-weight: bold;
    color: #555;
}